<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebDemo2</display-name>
  <listener>
    <listener-class>SessionCounter</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSession</display-name>
    <servlet-name>ShowSession</servlet-name>
    <servlet-class>ShowSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSession</servlet-name>
    <url-pattern>/ShowSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TechBooksPage</display-name>
    <servlet-name>TechBooksPage</servlet-name>
    <servlet-class>coreservlets.TechBooksPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TechBooksPage</servlet-name>
    <url-pattern>/TechBooksPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatalogPage</display-name>
    <servlet-name>CatalogPage</servlet-name>
    <servlet-class>coreservlets.CatalogPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogPage</servlet-name>
    <url-pattern>/CatalogPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KidsBooksPage</display-name>
    <servlet-name>KidsBooksPage</servlet-name>
    <servlet-class>coreservlets.KidsBooksPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KidsBooksPage</servlet-name>
    <url-pattern>/KidsBooksPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderPage</display-name>
    <servlet-name>OrderPage</servlet-name>
    <servlet-class>coreservlets.OrderPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPage</servlet-name>
    <url-pattern>/OrderPage</url-pattern>
  </servlet-mapping>
</web-app>