<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebDemo</display-name>
  <context-param>
    <param-name>webmaster</param-name>
    <param-value>webmaster@abc.org.tw</param-value>
  </context-param>
  <listener>
    <listener-class>SessionLifeCycleEventExample</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorldServlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThreeParams</display-name>
    <servlet-name>ThreeParams</servlet-name>
    <servlet-class>ThreeParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThreeParams</servlet-name>
    <url-pattern>/ThreeParams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowParameters</display-name>
    <servlet-name>ShowParameters</servlet-name>
    <servlet-class>ShowParameters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowParameters</servlet-name>
    <url-pattern>/ShowParameters</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchJobServlet</display-name>
    <servlet-name>SearchJobServlet</servlet-name>
    <servlet-class>SearchJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchJobServlet</servlet-name>
    <url-pattern>/SearchJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRequestHeaders</display-name>
    <servlet-name>ShowRequestHeaders</servlet-name>
    <servlet-class>ShowRequestHeaders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRequestHeaders</servlet-name>
    <url-pattern>/ShowRequestHeaders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshHelloWorldServlet</display-name>
    <servlet-name>RefreshHelloWorldServlet</servlet-name>
    <servlet-class>RefreshHelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshHelloWorldServlet</servlet-name>
    <url-pattern>/RefreshHelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchNewsServlet</display-name>
    <servlet-name>SearchNewsServlet</servlet-name>
    <servlet-class>SearchNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchNewsServlet</servlet-name>
    <url-pattern>/SearchNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMessage</display-name>
    <servlet-name>ShowMessage</servlet-name>
    <servlet-class>ShowMessage</servlet-class>
    <init-param>
      <param-name>message</param-name>
      <param-value>Shibboleth</param-value>
    </init-param>
    <init-param>
      <param-name>repeats</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMessage</servlet-name>
    <url-pattern>/ShowMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreetingServlet</display-name>
    <servlet-name>GreetingServlet</servlet-name>
    <servlet-class>GreetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreetingServlet</servlet-name>
    <url-pattern>/GreetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnglishGreeting</display-name>
    <servlet-name>EnglishGreeting</servlet-name>
    <servlet-class>GreetingServlet</servlet-class>
    <init-param>
      <param-name>greetingText</param-name>
      <param-value>Hello</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnglishGreeting</servlet-name>
    <url-pattern>/EnglishGreeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrenchGreeting</display-name>
    <servlet-name>FrenchGreeting</servlet-name>
    <servlet-class>GreetingServlet</servlet-class>
    <init-param>
      <param-name>greetingText</param-name>
      <param-value>Bonjour</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrenchGreeting</servlet-name>
    <url-pattern>/FrenchGreeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChineseGreeting</display-name>
    <servlet-name>ChineseGreeting</servlet-name>
    <servlet-class>GreetingServlet</servlet-class>
    <init-param>
      <param-name>greetingText</param-name>
      <param-value>您好</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChineseGreeting</servlet-name>
    <url-pattern>/ChineseGreeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CounterServlet</display-name>
    <servlet-name>CounterServlet</servlet-name>
    <servlet-class>CounterServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>VisitingCounterNoFileName</param-name>
      <param-value>/WEB-INF/VisitingCounterNoFileName.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterServlet</servlet-name>
    <url-pattern>/CounterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resume</display-name>
    <servlet-name>Resume</servlet-name>
    <servlet-class>Resume</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resume</servlet-name>
    <url-pattern>/Resume</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactInfoServlet</display-name>
    <servlet-name>ContactInfoServlet</servlet-name>
    <servlet-class>ContactInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactInfoServlet</servlet-name>
    <url-pattern>/ContactInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionCreateServlet</display-name>
    <servlet-name>SessionCreateServlet</servlet-name>
    <servlet-class>SessionCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionCreateServlet</servlet-name>
    <url-pattern>/SessionCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDestroyServlet</display-name>
    <servlet-name>SessionDestroyServlet</servlet-name>
    <servlet-class>SessionDestroyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDestroyServlet</servlet-name>
    <url-pattern>/SessionDestroyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramaticErrorHandlingServlet</display-name>
    <servlet-name>ProgramaticErrorHandlingServlet</servlet-name>
    <servlet-class>ProgramaticErrorHandlingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramaticErrorHandlingServlet</servlet-name>
    <url-pattern>/ProgramaticErrorHandlingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeclarativeErrorHandlingServlet</display-name>
    <servlet-name>DeclarativeErrorHandlingServlet</servlet-name>
    <servlet-class>DeclarativeErrorHandlingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclarativeErrorHandlingServlet</servlet-name>
    <url-pattern>/DeclarativeErrorHandlingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExceptionHandlerServlet</display-name>
    <servlet-name>ExceptionHandlerServlet</servlet-name>
    <servlet-class>ExceptionHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExceptionHandlerServlet</servlet-name>
    <url-pattern>/ExceptionHandlerServlet</url-pattern>
  </servlet-mapping>
  <!--  
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/ExceptionHandlerServlet</location>
  </error-page>
  -->
  
  <servlet>
    <description></description>
    <display-name>WrapperErrorHandlingServlet</display-name>
    <servlet-name>WrapperErrorHandlingServlet</servlet-name>
    <servlet-class>WrapperErrorHandlingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrapperErrorHandlingServlet</servlet-name>
    <url-pattern>/WrapperErrorHandlingServlet</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <exception-type>java.sql.SQLException</exception-type>
    <location>/ExceptionHandlerServlet</location>
  </error-page>
 
  <servlet>
    <description></description>
    <display-name>Password</display-name>
    <servlet-name>Password</servlet-name>
    <servlet-class>Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Password</servlet-name>
    <url-pattern>/Password</url-pattern>
  </servlet-mapping>
</web-app>